#mainbg{
    -fx-background-color: #e8debe;
}

.borders{
    -fx-background-color: #af5508;
}

#exitbtn{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/close-idle-256.png');
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#exitbtn:hover{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/close-hover-256.png');
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

.btn{
    -fx-border-color: #ad5000;
    -fx-border-width: 2px;
    -fx-background-color: #ffb270;
}

.btn:hover{
    -fx-background-color: #ad5000;
}