#mainbg{
    -fx-background-color: #e8debe;
}

.borders{
    -fx-background-color: #af5508;
}

#startbtn{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/whbossButtons-start.png');
    -fx-background-size: 200px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#startbtn:hover{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/whbossButtons-start.png');
    -fx-background-size: 200px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#tutbtn{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/whbossButtons-tutorial.png');
    -fx-background-size: 200px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#tutbtn:hover{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/whbossButtons-tutorial.png');
    -fx-background-size: 200px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#exitbtn{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/whbossButtons-quit.png');
    -fx-background-size: 200px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}

#exitbtn:hover{
    -fx-background-color: none;
    -fx-background-image: url('../Images/btn-ui/whbossButtons-quit.png');
    -fx-background-size: 200px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;   
}